<div class="container">
<div class="jumbotron">
<h1>Home Page</h1>

<h2>...Something</h2>
<a href="diagrama/mostrar" class="btn btn-lg btn-success"> Arbol 1</a>
<a href="diagrama/tree" class="btn btn-lg btn-success"> Arbol 2</a>
<a href="diagrama/flat" class="btn btn-lg btn-success"> Arbol 3</a>
</div>
</div>
