<div class="container">
<div class="jumbotron">
<h1>Home Page</h1>

<h2>...Something</h2>
<a href="diagrama/tree3" class="btn btn-lg btn-success"> Arbol Jerarquico</a>
<a href="diagrama/tree" class="btn btn-lg btn-success"> Arbol Fuerza 1</a>
<a href="diagrama/path" class="btn btn-lg btn-success"> Arbol Fuerza 2</a>
</div>
</div>
